// WHITE
$white: #ffffff;
$highlight: #fafafa;
$ivory: #fcfaf6;

// PRIMARY - UFRO Green
$primary: #006633;
$primary-light: #d4ebdb;
$primary-lightest: #edf6f0;

// ACCENT - UFRO Gold
$accent: #C8963C;

// BLACK
$dark-black: #0d1a0d;
$black: #1a2e1a;
$light-black: #2e4a2e;
$lightest-black: #e8f5ee;

// GREY
$lightest-grey: #f5f5f5;
$lighter-grey: #d3d3d3;
$light-grey: #cbcbcb;
$normal-grey: #c8c8c8;
$dark-grey: #707070;

// GOLD
$gold: #b8860b;

// ERROR
$dangerous-dark: #e30c17;
$dangerous: #9b373c;
$dangerous-lightest: #eedddd;

// WARNING
$warning: #c77d33;
$warning-lightest: #e9d9c9;

// SUCCESS
$success: #47a455;
$success-lightest: #d0edd4;
